<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Course Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user.category == "Student" %>
        <%= link_to 'Home', pages_landingPage_path(email: current_user.email), :class => 'navbar-brand' %>
      <% elsif current_user.category == "Teacher" %>
        <%= link_to 'Home', pages_teacherLandingPage_path(email: current_user.email), :class => 'navbar-brand' %>
      <% elsif current_user.category == "admin" %>
        <%= link_to 'Home', '/admins/show', :class => 'navbar-brand' %>
      <% end %>
      <li class = "active"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success',style: "margin-top:10px" %><span class="btn btn-lg btn-dark"></span>
    </div>
  </div>
</nav>
<div class = "container">
  <% @catcheck = User.find_by(id: $userId).category %>
  <% if current_user.category == "Teacher" || (current_user.category == "admin" && @catcheck == "Teacher") %>
    <h1> Teacher - Courses Registered</h1>
    <% if@teacher_history == "true"%>
      <h2> Course History</h2>
      <table class = "table table-striped">
        <thead>
        <tr>
          <th>Course Name</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% @teacher_course_history.each do |c|
          @cname = Course.find_by(id: c.courseid).name %>
          <tr>
            <td><%= @cname %></td>
            <td><%= c.status %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% if current_user.category == "Teacher" %>
        <%= link_to 'Back', pages_teacherLandingPage_path(email: current_user.email) %>
      <% else %>
        <% @tname = Teacher.find_by(id: @teacher_id).email %>
        <%= link_to 'Back',pages_teacherLandingPage_path(email: @tname) %>
      <% end %>
    <% else %>
      <table class = "table table-striped">
        <thead>
        <tr>
          <th>Course Name</th>
        </tr>
        </thead>
        <tbody>
        <% if @teacher_course.exists? %>
          <% @teacher_course.each do |c|
            @cname = Course.find_by(id: c.courseid).name %>
            <tr>
              <td><%= @cname %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <% if current_user.category == "Teacher" %>
        <%= link_to 'Back', pages_teacherLandingPage_path(email: current_user.email) %>
      <% else %>
        <% @tname = Teacher.find_by(id: @teacher_id).email %>
        <%= link_to 'Back',pages_teacherLandingPage_path(email: @tname) %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class = "container">
  <% if current_user.category == "Student" || (current_user.category == "admin" && @catcheck == "Student") %>
    <h1> Student - Courses Registered</h1>
    <% if@student_history == "true"%>
      <h2> Course History</h2>
      <table class = "table table-striped">
        <thead>
        <tr>
          <th>Course Name</th>
          <th>Faculty</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <%
          @courses_registered_students.each do |cid|
            @faculty = cid.teacherid
            @cname = Course.find_by(id: cid.courseid).name
            @fname = Teacher.find_by(id: cid.teacherid).name
        %>
          <tr>
            <td><%= @cname %></td>
            <td><%= @fname %></td>
            <td><%= cid.status%> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% if current_user.category == "Student" %>
        <%= link_to 'Back', pages_landingPage_path(email: current_user.email) %>
      <% else %>
        <% @sname = Student.find_by(id: @student_id).email %>
        <%= link_to 'Back',pages_landingPage_path(email: @sname) %>
      <% end %>
    <% else %>
      <table class = "table table-striped">
        <thead>
        <tr>
          <th>Course Name</th>
          <th>Faculty</th>
          <th>Feedback</th>
          <th>View given Feedback</th>
          <th>Drop Courses</th>
        </tr>
        </thead>
        <tbody>
        <%
          @courses_registered_students.each do |cid|
            if cid.status == "in-progress"
              @faculty = cid.teacherid
              @cname = Course.find_by(id: cid.courseid).name
              @fname = Teacher.find_by(id: cid.teacherid).name
              sfeedback_id = params[:id]
        %>
            <tr>
              <td><%= @cname %></td>
              <td><%= @fname %></td>
              <td><%= link_to 'Give feedback', new_feedback_path( :teacherid => cid.teacherid, :courseid => cid.courseid, :studentid => sfeedback_id), :class => "btn btn-info" %> </td>
              <td> <%= link_to "View feedback", feedbacks_path(:teacherid => cid.teacherid, :courseid => cid.courseid,  :studentid => sfeedback_id), :class => "btn btn-info" %> </td>
              <td><%= link_to 'Drop', course_registration_drop_path(:id => params[:id], :studentid => @student_id, :courseid => cid.courseid, :teacherid => cid.teacherid, :status => "dropped") , method: :put, :class => "btn btn-info" %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <% if current_user.category == "Student" %>
        <%= link_to 'Back', pages_landingPage_path(email: current_user.email) %>
      <% else %>
        <% if Student.where(id: @student_id).exists? %>
          <% @sname = Student.find_by(id: @student_id).email %>
          <%= link_to 'Back',pages_landingPage_path(email: @sname) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>