<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Course Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class = "active"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success',style: "margin-top:10px" %><span class="btn btn-lg btn-dark"></span>
    </div>
  </div>
</nav>



<h1>Courses Registered</h1>

<div class = "container">
      <% if current_user.category == "Teacher" || current_user.category == "admin"%>

        <table class = "table table-striped">
         <thead>
         <tr>
            <th>Course Name</th>
         </tr>
          </thead>
          <tbody>
         <% @teacher_course.each do |c|
           @cname = Course.find_by(id: c.courseid).name %>
            <tr>
              <td><%= @cname %></td>
           </tr>
          <% end %>
        </tbody>
        </table>

    <% end %>
</div>
<div class = "container">
        <% if current_user.category == "Student" || current_user.category == "admin" %>

          <table class = "table table-striped">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Faculty</th>
                <th>Feedback</th>
                <th>Feedback Complete</th>
              </tr>
            </thead>

            <tbody>
            <% @courses_registered_students.each do |cid|
              @faculty = cid.teacherid
              @cname = Course.find_by(id: cid.courseid).name
              @fname = Teacher.find_by(id: cid.teacherid).name
            %>
            <tr>
              <td><%= @cname %></td>
              <td><%= @fname %></td>
              <td><%= link_to 'Give feedback', new_feedback_path( :teacherid => cid.teacherid, :courseid => cid.courseid), :class => "btn btn-info" %> </td>
              <td> <%= link_to "View feedback", feedbacks_path(:teacherid => cid.teacherid, :courseid => cid.courseid), :class => "btn btn-info" %> </td>
            </tr>
            <% end %>
              </tbody>
          </table>
          <% end %>

</div>