<div class = "container text-center" style="width: 25%">
  <h1 class="h3 mb-3 font-weight-normal">Login</h1><br>
   <%= form_tag '/login' do %><br>
   <%= label_tag :username%><br>
   <%= text_field_tag :username%><br><br>
   <%= label_tag :password%><br>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
   <%end%><br>
</div>
<div class = "container text-center">
  <%= link_to "Sign Up", '/users/new', :class => "btn btn-lg btn-info" %>
</div>