<html>
<body>
  <div class = "container text-center" style="width: 25%">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1><br>
    <%= form_tag '/login', class:"form-group" do %><br>
      <%= label_tag :username%><br>
      <%= text_field_tag :username%><br><br>
      <%= label_tag :password%><br>
      <%= password_field_tag :password%><br><br>
      <%= submit_tag "Login",class:"btn btn-secondary" %>
    <%end%>
  </div>
  <div class = "container text-center">
    <%= link_to "Sign Up", '/users/new', :class => "btn btn-lg btn-info" %>
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>
