<%= form_for(@student) do |form| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% @student.errors.full_messages.each do |message| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
    <%= form.label :email_field %><br />
    <%= form.email_field :email %>
    <%= form.label :address %><br />
    <%= form.text_field :address %>
    <%= form.label :major %><br />
    <%= form.text_field :major %>
    <%= form.label :phone_field %><br />
    <%= form.phone_field :phone %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
