<!-- Sign up page -->

<div class = "container text-center" style="width: 25%">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1><br>
    <%= bootstrap_form_for @user do |f|%>
      <%= f.text_field :username,class:"form-control" %>
      <%= f.password_field :password,class:"form-control" %><br>
      <%= f.submit "Create profile",class:"btn btn-lg btn-primary btn-block"%>
    <%end%>
  </div>
  <br>
  <div class = "container text-center">
    <%= link_to 'Login', '/login', :class => "btn btn-lg btn-info" %>
</div>
