<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Course Manager</a>
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <% if current_user.category == "Student" %>
        <%= link_to 'Home', pages_landingPage_path(email: current_user.email), :class => 'navbar-brand' %>
      <% elsif current_user.category == "Teacher" %>
        <%= link_to 'Home', pages_teacherLandingPage_path(email: current_user.email), :class => 'navbar-brand' %>
      <% elsif current_user.category == "admin" %>
        <%= link_to 'Home', '/admins/show', :class => 'navbar-brand' %>
      <% end %>
      <li class = "active"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success',style: "margin-top:10px" %><span class="btn btn-lg btn-dark"></span>
    </div>
  </div>
</nav>

<div class = "container">
<h1>Listing Courses for a particular Major</h1>

<table class = "table table-striped">
  <thead>
  <tr>
    <th>Course Name</th>
    <th>Major</th>
    <th>Course Price</th>
    <th>Teachers</th>
    <th></th>

  </thead>

  <tbody>
    <tr>
      <%
        @student_courses_based_on_major.each do |course|
        @course_id = course.id
        @student_courses_teacher = TeacherCourse.where('courseid' => @course_id)
      %>

      <td><%= course.name %></td>
      <td><%= course.discipline %></td>
        <td><%= course.price %></td>
        <td>  <% if !@teacher_course_dict[@course_id].empty? %>
          <%= form_for(@new_cart) do |form| %>
          <%= form.hidden_field :courseid, value:"#{@course_id}" %>
          <%= form.hidden_field :studentid, value:"#{@student_id}" %>
              <% @t2 = []
                 @teacher_course_dict[@course_id].each do |q|
                   @t2 << {'id' => q, 'name' => Teacher.find_by(id: q).name}
                 end
                 @t2
              %>
       <%= form.select(:teacherid, options_for_select(@t2.collect { |s| [s["name"], s["id"]] } ) ) %>

              <br />  <br />
     <div class="actions">
      <%= form.submit "Add To Cart" %>
      </div></td>
      <% end  %>
      <td><%= button_to 'Remove from Cart', {:controller => "student_courses", :action => "destroy", :studentid =>  @student_id, :courseid => @course_id} , :method=>:delete  %></td>
      <% end  %>
      </tr>

      <% end  %>

    </tbody>
  </table>

<%= link_to "View cart", cart_path(:studentid => @student_id), :class => "btn btn-info" %>
<%= link_to 'Clear cart', cart_path(:studentid => @student_id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-info" %></td>
    <br>
  <% @semail = Student.find_by(id: @student_id).email %>
  <%= link_to 'Back', pages_landingPage_path(email: @semail) %>
</div>