<p id="notice"><%= notice %></p>
<h1>Listing Courses for a particular Major</h1>

<table class = "table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Major</th>
    <th>Teachers</th>
  </thead>

  <tbody>
  <tr>
  <% @student_courses_based_on_major.each do |course|
      @course_id = course.id
      @student_courses_teacher = TeacherCourse.where('courseid' => @course_id)
    %>

      <td><%= course.name %></td>
      <td><%= course.discipline %></td>

      <%= form_for(@new_cart) do |form| %>
        <div class="field">
          <%= form.hidden_field :courseid, value:"#{@course_id}" %><br />
          <%= form.hidden_field :studentid, value:"#{@student_id}" %><br />
          <td> <%= form.select(:teacherid, @teacher_course_dict[@course_id]) %></td>
        </div>
        <div class="actions">
          <td> <%= form.submit "Add to cart" %> </td>
        </div>
    <% end  %>
      <td><%= button_to '-', {:controller => "student_courses", :action => "destroy", :studentid =>  @student_id, :courseid => @course_id} , :method=>:delete  %></td>

      </tr>
    <% end  %>

    </tbody>
    </table>
<%= link_to "View cart", cart_path(:studentid => @student_id), :class => "btn btn-lg btn-info" %>
<%= link_to 'Clear cart', cart_path(:studentid => @student_id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-lg btn-info" %></td>
    <br>
