<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Course Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class = "active"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>

    </ul>
    <div class="nav navbar-nav navbar-right">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success',style: "margin-top:10px" %><span class="btn btn-lg btn-dark"></span>
    </div>
  </div>
</nav>
<p id="notice"><%= notice %></p>
<div class = "container">
<h1>List of available courses</h1>

<table class = "table table-striped">
  <thead>
  <tr>
    <th>Course Name</th>
    <th>Major</th>
    <th>Teachers</th>
    <th>Course Price</th>
    <th></th>
  </thead>

  <tbody>
    <tr>
      <%
        @student_courses_based_on_major.each do |course|
          @course_id = course.id
          @student_courses_teacher = TeacherCourse.where('courseid' => @course_id)
          sel = []
          @student_courses_teacher.each do |tc|
            @faculties = Teacher.find_by(id: tc.teacherid).name
            sel.append(@faculties)
          end
      %>

      <td><%= course.name %></td>
      <td><%= course.discipline %></td>
      <td><%= select_tag 'user_id', options_for_select(sel) %></td>
<% if !@teacher_course_dict[@course_id].empty? %>
      <%= form_for(@new_cart) do |form| %>
        <div class="field">
          <%= form.hidden_field :courseid, value:"#{@course_id}" %><br />
          <%= form.hidden_field :studentid, value:"#{@student_id}" %><br />
          <td> <%= form.select(:teacherid, @teacher_course_dict[@course_id]) %></td>
        </div>
          <td><%= course.price %></td>
        <div class="actions">
          <td> <%= form.submit "Add to cart" %> </td>
        </div>
    <% end  %>
      <td><%= button_to '-', {:controller => "student_courses", :action => "destroy", :studentid =>  @student_id, :courseid => @course_id} , :method=>:delete  %></td>
        <% end  %>
      </tr>

      <% end  %>

    </tbody>
  </table>

<%= link_to "View cart", cart_path(:studentid => @student_id), :class => "btn btn-info" %>
<%= link_to 'Clear cart', cart_path(:studentid => @student_id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-info" %></td>
<br><br>
<%= link_to 'Back', pages_landingPage_path(:email => current_user.email) %>
  <br>
</div>