<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Course Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class = "active"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>

    </ul>
    <div class="nav navbar-nav navbar-right">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success',style: "margin-top:10px" %><span class="btn btn-lg btn-dark"></span>
    </div>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<div class = "container">
  <p>
    <b>Card Name:</b>
    <%= @payment.cname %>
  </p>
  <p>
    <b>Card Number:</b>
    <%= @payment.cnumber %>
  </p>
  <p>
    <b>Expiry Month:</b>
    <%= @payment.expMonth %>
  </p>
  <p>
    <b>Expiry Year:</b>
    <%= @payment.expYr %>
  </p>
  <p>
    <b>CVV:</b>
    <%= @payment.cvv %>
  </p>
  <%= button_to 'Checkout', {:controller => "course_registration", :action => "create", :studentid => @student_id_for_reg} , :method=>:post, :class=> 'btn btn-primary'  %>
  <%= link_to 'Back', payments_path %>
</div>