<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Course Manager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class = "active"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success',style: "margin-top:10px" %><span class="btn btn-lg btn-dark"></span>
    </div>
  </div>
</nav>
<p id="notice"><%= notice %></p>
<div class = "container">
  <p>
    <b>Name:</b>
    <%= @course.name %>
  </p>
  <p>
    <b>Number:</b>
    <%= @course.number %>
  </p>
  <p>
    <b>Discipline:</b>
    <%= @course.discipline %>
  </p>
  <p>
    <b>Area:</b>
    <%= @course.area %>
  </p>
  <p>
    <b>Price:</b>
    <%= @course.price %>
  </p>

  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
</div>